nav {
    position: absolute;
    bottom: 50%;
    width: 100%;
    height: 80px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 121, 0, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.list {
    list-style-type: none;
    color: aliceblue;
    font-size: 18px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    text-transform: uppercase;
}

.list-items {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 13px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
}

@media screen and (max-width: 500px) {
    nav {
        position: absolute;
        top: 0px;
        height: 200px;
    }

    .list {
        flex-direction: column;
        height: auto;
    }

    .list-items:nth-child(1) {
        border-top: 1px solid #fff;
        margin-top: auto;
    }

    .list-items {
        height: 40px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 40px;
        text-align: center;
    }

    .btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        padding: 5px;
        color: #000;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}